---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import PracticeAreas from '../components/PracticeAreas.astro';
import Team from '../components/Team.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Mendoza & Asociados | Abogados en Lima, Perú">
  <Header />
  <main>
    <Hero />
    <About />
    <PracticeAreas />
    <Team />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
